.states-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding-inline: 5vw;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 2vw;
  }
  @media (max-width: 480px) {
    padding-inline: 0;
  }
  gap: 1rem;
}

.auto-complete-container {
  width: 100%;
  max-width: 50vw;
  @media (max-width: 768px) {
    max-width: 96%;
  }
  margin: 0 auto;
}

.states-container {
    .states-card {
        background-color: var(--surface-card);
        border-color: var(--surface-border);
        color: var(--text-color);
        .states-icon {
            color: var(--primary-color);
            transition: all 0.2s ease;
        }
        transition: all 0.2s ease;
      &:hover {
        background-color: var(--primary-color);
        color: var(--surface-0);
        .states-icon {
            color: var(--surface-a);
        }
      }
    }
}

.conjugation-dialog {
  width: 50rem;
  min-height: 75vh;
  @media (max-width: 768px) {
    width: 96%;
    min-height: 80vh;
  }
}

.conjugation-table {
  .conjugation-row {
    margin-block: 1rem;
    .pronoun, .conjugation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-block: 1rem;
    border-bottom: 1px solid var(--surface-border);
    }
    .pronoun {
      font-size: 1.2rem;
      font-weight: 600;
    }
    .conjugation {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
}